.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  height: 75px;
  width: 75px;
  background-color: grey;
  border: black 2px solid;
  position: relative;
}

.skill-text {
  z-index: 2;
}

.default,
.default-single,
.a,
.b,
.c,
.d,
.e {
  width: calc(75px - 4px);
  background-color: orange;
  position: absolute;
  top: 0;
  z-index: 1;
}

.default-single {
  background-color: green;
  height: calc(75px - 4px);
}

.a {
  height: calc(15px - 4px);
}

.b {
  height: calc(30px - 4px);
}

.c {
  height: calc(45px - 4px);
}

.d {
  height: calc(60px - 4px);
}

.e {
  height: calc(75px - 4px);
  background-color: green;
}

.First,
.First2,
.First3 {
  grid-column: 1;
  grid-row: 1;
}

.Second,
.Second2,
.Second3 {
  grid-column: 3;
  grid-row: 1;
}

.Third,
.Third2,
.Third3 {
  grid-column: 1;
  grid-row: 2;
}

.Fourth,
.Fourth2,
.Fourth3 {
  grid-column: 3;
  grid-row: 2;
}

.Fifth,
.Fifth2,
.Fifth3 {
  grid-column: 2;
  grid-row: 3;
}

.Sixth,
.Sixth2,
.Sixth3 {
  grid-column: 1;
  grid-row: 4;
}

.Seventh,
.Seventh2,
.Seventh3 {
  grid-column: 3;
  grid-row: 4;
}

.Eighth,
.Eighth2,
.Eighth3 {
  grid-column: 1;
  grid-row: 5;
}

.Ninth,
.Ninth2,
.Ninth3 {
  grid-column: 3;
  grid-row: 5;
}

.Tenth,
.Tenth2,
.Tenth3 {
  grid-column: 2;
  grid-row: 6;
}
