.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0ab200;
}

.resetBtn {
  border: black 2px solid;
  background-color: #ccc;
  padding: 10px;
  margin: 15px;
}
